@import "../src/css/tailwind.css";

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: aliceblue;
}
body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
}

.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}
